html {

	font-family: 'Mina', sans-serif;

}

body {

	margin: 0px;
	background-color: #F1EADC;

}

.header {

	z-index: 1;
	padding-bottom: 150px;
	background-color: #1493A5;

}

.home {
	float: left;
	padding-top: 45px;
	padding-left: 20px;
}

.header a {
	border: 3px solid #F1EADC;
	padding: 10px;
	font-size: 25px;
	margin: 10px;
}


.header a:link {
	color: #F1EADC;
	text-decoration: none;
}

.header a:hover {
	background-color: #9FA1A3;
	color: #1493A5;
	border-color: #9FA1A3;

}

.header a:visited {

	color: #F1EADC;

}

.header a:active {

	color: #F1EADC;

}

.page-content {
	color: #F1EADC;
	background-color: #1493A5;
	padding-bottom: 0px;
	display: inline-flex;
	width: 100%;
}

.page-content h1 {
	font-size: 72px;
	margin: 0px;
}

.side-bar {
	float: left;
	color: #F1EADC;
	background-color: #1493A5;
	height: 506px;
	border-right: 2px solid #F1EADC;
	border-top: 2px solid #F1EADC;
	padding-right: 10px;
}

.side-bar h2 {
	padding-left: 10px;
}

.main {
	text-align: center;
	padding-left: 200px;
}

.main h2 {
	border: 2px solid #F1EADC;
	border-radius: 25px;
	padding: 10px;
	font-size: 20px;
}

.footer {
	background-color: #F1EADC;
	display: inline-flex;
	width: 100%;
	color: #1493A5;
}

.footer p {
	padding-left: 5px;
	padding-right: 5px;
}


.footer a:link {
	color: #1493A5;;
	text-decoration: none;
}

.footer a:visited {
	color: #1493A5;;
}

.footer a:active {
	color: #1493A5;;
}