html {

	font-family: 'Mina', sans-serif;

}

body {

	margin: 0px;
	background-color: #F1EADC;

}

.header {

	z-index: 1;
	padding-bottom: 150px;
	background-color: #1493A5;

}

.home {
	float: left;
	padding-top: 45px;
	padding-left: 20px;
}

.header a {
	border: 3px solid #F1EADC;
	padding: 10px;
	font-size: 25px;
	margin: 10px;
}


.header a:link {
	color: #F1EADC;
	text-decoration: none;
}

.header a:hover {
	background-color: #9FA1A3;
	color: #1493A5;
	border-color: #9FA1A3;

}

.header a:visited {

	color: #F1EADC;

}

.header a:active {

	color: #F1EADC;

}

.page-content {
	color: #F1EADC;
	background-color: #1493A5;
	display: flex;
	justify-content: center;
	padding-bottom: 150px;
}

.page-content h1 {
	font-size: 72px;
	text-align: center;
	margin: 0px;
}

.boxed {
	border: 2px solid #F1EADC;
	padding: 10px 40px;
}


.boxed h3 {
	padding-bottom: 20px;
	margin: 0;
	text-align: center;
	font-size: 30px;
}

.boxed form {
	width: 100%;
	box-sizing: border-box;
}

.boxed h4 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #F1EADC;
}

.boxed input {
	margin-bottom: 20px;
	background-color: #1493A5;
	color: #F1EADC;
	width: 100%;
}

.boxed input[type="text"],
.boxed input[type="Password"]
{
	border: none;
	border-bottom: 2px solid #F1EADC;
	outline: none;
	height: 30px;
}

.boxed input[type="text"]:focus,
.boxed input[type="Password"]:focus
{
	border-bottom: 2px solid black;

}

::placeholder {
	color: #F1EADC;
	opacity: 1;
}

.boxed input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: black;
	background-color: #F1EADC;
	cursor: pointer;
}

.boxed input[type="submit"]:hover
{
	background-color: #1493A5;
}

.forg-pass {
	font-size: 12px;
	font-weight: bold;
}

a:link {
	text-decoration: underline;
	text-decoration-color: #1493A5;
}

a:hover {
	background-color: #9FA1A3;
	color: #1493A5;
	border-color: #9FA1A3;

}

a:visited {

	color: #F1EADC;

}

a:active {

	color: #F1EADC;
}


.footer {
	background-color: #F1EADC;
	display: inline-flex;
	width: 100%;
	color: #1493A5;
}

.footer p {
	padding-left: 5px;
	padding-right: 5px;
}


.footer a:link {
	color: #1493A5;;
	text-decoration: none;
}

.footer a:visited {
	color: #1493A5;;
}

.footer a:active {
	color: #1493A5;;
}