<!DOCTYPE html>
<html>
	<head>
		<title>ClassScan</title>
		<meta charset="UTF-8">
	  	<meta name="description" content="HomePage ClassScan">
	  	<meta name="keywords" content="ClassScan, Home">
	  	<meta name="viewport" content="width=device-width" />

<!-- 	  	<link rel="stylesheet" href="{{ url_for('static', filename='styles/administrator.css')}}">
 -->	  	<link href="https://fonts.googleapis.com/css?family=Maven+Pro|Mina|Oxygen|Raleway|Syncopate" rel="stylesheet">

	</head>
  
	<body>

	<div class="header">

		<div class="home">
			<a href="index.html">Home</a>
		</div>

		<small style="text-align: center;">Welcome {{session.username}}</small>
		<div class="logout">
			<a href="/logout">Logout</a>
		</div>

	</div>



	<div class="page-content">

		<div class="side-bar">
			<h2>Students:</h2>
			<ul>
				<li><a href="administrator/{{students.name}}">Student 1</a></li>
				<li><a href="administrator/{{students.name}}">Student 2</a></li>
				<li><a href="administrator/{{students.name}}">Student 3</a></li>
				<li><a href="/add_student">Add a student</a></li>
			</ul>
		</div>

		<div class="main">
			<h1>Attendance Report:</h1>
			<p>Name: {{students.name}}</p>
			<p>Class: {{students.classroom}}</p>
			<p>Number of Times Absent: {{students.absenses}}</p>
			<p>Number of Times Late: {{students.lateness}}</p>

			<h2><a href="remove_student/{{students.name}}">Remove Student From DataBase</a></h2>
			<h2><a href="edit_attendance/{{students.name}}">Edit Attendance Report</a></h2>
		</div>

	</div>

	<div class="footer">
		<p>&copy;</p>
		<a href="about.html"><p>About</p></a>
		<a href="help.html"><p>Help</p></a>
	</div>

	</body>


</html>
