<!DOCTYPE html>
<html>
	<head>
		<title>ClassScan</title>
		<meta charset="UTF-8">
	  	<meta name="description" content="HomePage ClassScan">
	  	<meta name="keywords" content="ClassScan, Home">
	  	<meta name="viewport" content="width=device-width" />

	  	<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
	  	<link href="https://fonts.googleapis.com/css?family=Maven+Pro|Mina|Oxygen|Raleway|Syncopate" rel="stylesheet">

	</head>
  
	<body>

	<div class="header">

		<div class="home">
			<a href="#">Home</a>
		</div>

		<div class="logins">
			<div class="login">
				<a href="login.html">Login</a>
			</div>

			<div class="signup">
				<a href="ask.html">Create Account</a>
			</div>
		</div>


	</div>

	<div class="page-content">


		<h1>ClassScan</h1>
		<h2>Attendance Made Easier</h2>

	</div>

	<div class="footer">
		<p>&copy; ClassScan 2018. All Rights Reserved.</p>
		<a href="about.html"><p>About</p></a>
		<a href="help.html"><p>Help</p></a>
	</div>

	</body>


</html>
