<!DOCTYPE html>
<html>
	<head>
		<title>ClassScan</title>
		<meta charset="UTF-8">
	  	<meta name="description" content="HomePage ClassScan">
	  	<meta name="keywords" content="ClassScan, Home">
	  	<meta name="viewport" content="width=device-width" />

	  	<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css')}}">
	  	<link href="https://fonts.googleapis.com/css?family=Maven+Pro|Mina|Oxygen|Raleway|Syncopate" rel="stylesheet">

	</head>
  
	<body>

	<div class="header">

		<div class="home">
			<a href="index.html">Home</a>
		</div>


	</div>

	<div class="page-content">

		<div class="boxed">
			<h1>ClassScan</h1>
			<h3>Welcome Back</h3>
			<form>
				<h4>Username</h4>
				<input type="text" name="" placeholder="john123...">
				<h4>Password</h4>
				<input type="Password" name="" placeholder="•••••••">
				<input type="submit" name="" value="Sign In">
				<a class="forg-pass" href="">Forgot password</a>
			</form>
		</div>
		

	</div>

	<div class="footer">
		<p>&copy;</p>
		<a href="about.html"><p>About</p></a>
		<a href="help.html"><p>Help</p></a>
	</div>

	</body>


</html>
