<!DOCTYPE html>
<html>
	<head>
		<title>ClassScan</title>
		<meta charset="UTF-8">
	  	<meta name="description" content="HomePage ClassScan">
	  	<meta name="keywords" content="ClassScan, Home">
	  	<meta name="viewport" content="width=device-width" />

	  	<link rel="stylesheet" href="{{ url_for('static', filename='styles/signup.css')}}">
	  	<link href="https://fonts.googleapis.com/css?family=Maven+Pro|Mina|Oxygen|Raleway|Syncopate" rel="stylesheet">

	</head>
  
	<body>

	<div class="header">

		<div class="home">
			<a href="index.html">Home</a>
		</div>

	</div>

	<div class="page-content">



	</div>

	<div class="footer">
		<p>&copy;</p>
		<a href="about.html"><p>About</p></a>
		<a href="help.html"><p>Help</p></a>
	</div>

	</body>


</html>
